@import url("base.css");

.fragment {
	width: 100%;
	padding: 10px;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.fragment {
	width: 100%;
	padding: 10px;
}

.fragment label, .fragment input {
	
	border-width: 0.3rem;
	font-size: 3rem;
	padding: 0.5rem;
}

.sub-container {
	background: linear-gradient(var(--gradiantGold));
	box-shadow: var(--box_shadow);
	border-radius: 1rem;
	padding: 2rem;
	border-radius: 1rem;
	padding: 2rem;
	background-position: center;
	align-items: center;
	margin-top: 3rem;
}

.fragment label, .fragment input {
	
	
	border-width: 0.3rem;
	font-size: 2rem;
	align-items: center;
}

.sub-container {
	background: linear-gradient(var(--gradiantGold));
	box-shadow: var(--box_shadow);
	border-radius: 1rem;
	align-items: center;
}

form {
	display: flex;
	justify-content: space-between;
}

h1 {
	font-size: 3rem;
	margin: 0rem;
	margin-bottom: 2rem;
	text-align: center;
	background: linear-gradient(var(--gradiantGold));
	border-radius: 1rem;
	padding: 1rem;
	box-shadow: var(--box_shadow);
}

input[type="submit"] {
	font-size: 20px;
	background: linear-gradient(var(--gradiantGold));
	margin-left: 2rem;
}

.edit-button {
   border-radius: 0.5rem;
	padding: 1rem;
	font-weight: 600;
	background: linear-gradient(var(--gradiantGold));
	box-shadow: var(--box_shadow);
	cursor: pointer; 
	transition: 0.5s ease-out;
}

.button-edit{
	display: flex;
	align-items: center;
	justify-content: center;
}

.fragment .edit-button a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
}

.edit-button:hover {
    text-shadow: var(--text_shadow);
	box-shadow: var(--box_shadowWhite);
}
