@import url("base.css");

/* Center the main container */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Set the height to occupy the full viewport height */
}

.FormFragment {
 
  width: 100%; 
  padding: 10px; 
}


.FormFragment label,
.FormFragment input {
  font-size: 18px; 
}