@import url("base.css");


.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.fragment {
	padding: 1rem;
}

.fragment label, .fragment input {
	
	border-width: 0.3rem;
	font-size: 3rem;
	padding: 0.5rem;
}
form {
	margin-top: 2rem;
	
}

.solde{
	flex-direction: column;
	display: flex;
	align-items: center;
	
}

.sub-container {
	background: linear-gradient(var(--gradiantGold));
	box-shadow: var(--box_shadow);
	border-radius: 1rem;
	padding: 2rem;
	border-radius: 1rem;
	padding: 2rem;
	margin-top: 3rem;
	display: flex;
	flex-direction:column;
	align-items: center;
}

.fragment label, .fragment input {
	
	
	border-width: 0.3rem;
	font-size: 2rem;
	align-items: center;
}



h1 {
	font-size: 3rem;
	margin: 0rem;
	margin-bottom: 2rem;
	text-align: center;
	background: linear-gradient(var(--gradiantGold));
	border-radius: 1rem;
	padding: 1rem;
	box-shadow: var(--box_shadow);
}

input[type="submit"] {
	font-size: 20px;
	background: linear-gradient(var(--gradiantGold));
	margin-left: 2rem;
	border-radius: 1rem;
}

input[type="number"]{
	border-radius: 1rem;
	background: var(--background);
}

.edit-button {
   border-radius: 0.5rem;
	padding: 1rem;
	font-weight: 600;
	background: linear-gradient(var(--gradiantGold));
	box-shadow: var(--box_shadow);
	cursor: pointer; 
	transition: 0.5s ease-out;
}

.button-edit{
	display: flex;
	align-items: center;
	justify-content: center;
}

.fragment .edit-button a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
}

.edit-button:hover {
    text-shadow: var(--text_shadow);
	box-shadow: var(--box_shadowWhite);
}
