@charset "UTF-8";

@import url("variables.css");

/* Mise a zero des parametres pour faciliter le calcul des margin/padding  */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 62.5%;
	/* ==> convertion direct des unites relatives 1 rem = 10px  */
}

body {
	font-family: "Roboto", sans-serif;
	font-size: 1.6rem;
	background: var(--background);
	height: 100vh;
	display: flex;
	flex-direction: column;
	background: url(../img/pexels-todd-trapani-1420440.jpg) center center/cover;
	background-attachment: fixed;
	overflow: auto;
}

/* Header */
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0px;
	padding: 0.5rem;
	padding-right: 3rem;
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
	border-bottom: 1px solid;
	margin: 0;
	margin-bottom: 3rem;
	background: linear-gradient(var(--gradiantGold));
	box-shadow: var(--box_shadow);
}

header a {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.5rem;
	font-weight: 700;
	border: 0.3rem red;
	color: var(--dark);
	margin: 0rem;
	padding: 0rem 1rem 0rem 1rem;
	text-decoration: none;
	transition: 0.5s ease-out;
	letter-spacing: 0.3rem;
}

a[id=deco] {
	border-radius: 0.5rem;
	padding: 0.5rem 1rem;
	margin-left: 1rem;
	border: 1px solid black;
	transition: 0.5s ease-out;
}

a[id=deco]:hover {
	box-shadow: var(--box_shadowWhite);
}

.deco{
	font-size: 2rem;
	border-radius: 0.5rem;
	padding: 0.5rem 1rem;
	border: 1px solid black;
	transition: 0.5s ease-out;
}

.deco:hover{
	box-shadow: var(--box_shadowWhite);
}

input[type="submit"] {
	border-radius: 0.5rem;
	padding: 1rem;
	font-weight: 600;
	background: linear-gradient(var(--gradiantGold));
	box-shadow: var(--box_shadow);
	cursor: pointer; 
	transition: 0.5s ease-out;
}

input[type="submit"]:hover {
	text-shadow: var(--text_shadow);
	box-shadow: var(--box_shadowWhite);
}

.nav a {
	
	font-size: 1.5rem;
}

.nav{
	display: flex;
}

.separator {
  background-color: var(--dark);
  height: 2rem;
  width: 1px;
}

header a:hover {
	transform: scale(1.1);
	text-shadow: var(--text_shadow);
}

.logo {
	size: 4rem;
}

img {
	display: block;
	height: 6rem;
	height: 10rem;
	width: 10rem;
}

.errorBox{
	color: red;
	margin-top: 2rem;
	text-align: center;
	font-size: 3rem;
	font-weight: 600;
}

.msgBox{
	color:var(--dark);
	margin-top: 1rem;
	text-align: center;
	font-size: 3rem;
	font-weight: 600;
}

.holdBox{
	color:transparent;
	margin-top: 2rem;
	text-align: center;
	font-size: 3rem;
	font-weight: 600;
	display: none;
}

.mgR-2{
	margin-right: 2rem;
}

.mgL-2{
	margin-left: 2rem;
}

.mgT-2{
	margin-top: 2rem;
}

.mgB-2{
	margin-bottom: 2rem;
}
input[id="isActif"]{
	display:none;
}