@charset "UTF-8";

/* Header */

header {
	display: flex;
	margin: 20px;
	justify-content: space-between;
	align-items: center;
}

header a{
	font-size: 2rem ;
	border: 3px red;
	color:rebeccapurple;
	margin: 0px ;
	padding: 0px 10px 0px 10px;
	text-decoration: none;
}