@import url("base.css");

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

form {
	text-align: center;
}

div {
	margin-bottom: 1rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.remember-me {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-bottom: 0.3rem;
	margin-right: 2rem;
}

.remember-me input[type="checkbox"] {
	margin-right: 0.5rem;
}

.forgot-password {
	margin-left: 15.5rem;
	margin-top: -1cm;
}

.create-account-button {
	margin-top: 3rem;
	display: flex;
	height: 10rem;
	width: 30rem;
	text-align: center;
	justify-content: center;
	align-items: center;
}

div.button-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top:-30rem;
}

input[type="submit"] {
	margin: 1rem 0 0 1rem;
	height: 5rem;
	width: 10rem;
}

input[type="text"], input[type="password"] {
	display: block;
	margin: 0 auto;
	align-items: center;
}