@import url("base.css");

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.sub-contain {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 2rem;
  background: linear-gradient(var(--gradiantGold));
  box-shadow: var(--box_shadow);
}

form {
  text-align: center;
}

input[type="submit"] {
  margin: 1rem 0 0 1rem;
  height: 3rem;
  width: 5rem;
}

.button {
	border-radius: 0.5rem;
	padding: 1rem;
	font-weight: 600;
	background: linear-gradient(var(--gradiantGold));
	box-shadow: var(--box_shadow);
	cursor: pointer; 
	transition: 0.5s ease-out;
}

.button:hover {
	text-shadow: var(--text_shadow);
	box-shadow: var(--box_shadowWhite);
}

.button a {
	color: black;
}

#littleButton a {
	font-weight: 500;
	font-size: 1.5rem;
}

label {
  font-size: 2rem;
  margin: 2rem;
}

input {
  font-size: 2rem;
}

.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user input {
  height: 3rem;
  width: 24rem;
}

.password {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.password input {
  width: 24rem;
}

.cnx {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 4rem 0rem;
}

.remember-me {
  display: flex;
}

.remember-me label {
  margin: 2rem 0.4rem;
}

.forgot-password {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-left: 4rem;
}

a {
  font-size: 2rem;
  text-decoration: none;
}

.button-container input {
  height: 100%;
  width: 100%;
}

.button a {
  font-size: 3rem;
}
