@import url("base.css");

body {
	position: relative;
	padding-top: 6rem; /* Ajuster l'espace pour éviter de cacher le lien */
	min-height: 100vh;
	margin: 0;
	padding: 2rem;
}

h2 {
	text-align: center;
	margin-top: 0;
}

.login {
	position: absolute;
	top: 2rem;
	right: 2rem;
}

.filters {
	margin-top: 2rem;
	font-weight: bold;
}

.filters label {
	display: block;
}

.search-bar {
	margin-top: 1rem;
	border-radius: 1rem; /* Arrondir les bords */
	overflow: hidden; /* Masquer le dépassement du contenu */
}

.search-bar input {
	width: 100%; /* Ajuster la largeur */
	height: 5rem; /* Ajuster la hauteur */
	font-size: 1,8rem; /* Ajuster la taille de la police */
	padding: 0.5rem 1rem; /* Ajouter un espacement intérieur */
	border: none; /* Supprimer la bordure */
	background-color: #f0f0f0; /* Ajouter une couleur de fond */
}

.search-button-container {
	display: flex;
	justify-content: center; /* Centrer horizontalement */
	margin-top: 2rem;
}

.search-button {
	font-size: 2rem; /* Ajuster la taille de la police */
	padding: 1rem 2rem; /* Ajouter un espacement intérieur */
}

.encadrer-container {
	display: flex;
	justify-content: space-between;
	/* Aligner les encadrés à l'horizontale */
	flex-wrap: wrap; /* Permettre le passage à la ligne des encadrés */
}

.encadrer {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 2rem;
	width: 48%; /* Ajuster la largeur des encadrés */
	padding: 1rem;
	border: 1px solid black;
	border-radius: 1rem;
}

.encadrer img {
	width: 10rem;
	height: 10rem;
	margin-bottom: 1rem;
	border: 0.2rem solid black;
	border-radius: 1rem;
}

.encadrer h4 {
	margin: 0;
}

.encadrer .prix, .encadrer .enchere, .encadrer .vendeur {
	margin-top: 0.5rem;
}