@import url("base.css");

main {
	display: flex;
	justify-content: center;
}


.container {
	padding: 2rem;
	border-radius: 1rem;
	background: linear-gradient(var(--gradiantGold));
	box-shadow: var(--box_shadow);
}

h2 {
	text-align: center;
	font-size: 3rem;
}


.formContainer {
	max-width: 80rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formBody {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-end;
	padding: 1rem;
}

.formFragment {
	flex: 50%;
	display: flex;
	justify-content: space-between;
	font-size: 2rem;
	padding: 0.5rem;
}

.formFooter {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	font-size: 2rem;
}

.button {
	font-size: 2rem;
}

.button:hover {
	transform: scale(1.1);
}

.button a {
	border: 1px solid #000;
	font-size: 2rem;
	background: linear-gradient(var(--gradiantGold));
	box-shadow: var(--box_shadow);
	color: black;
	border-radius: 0,7rem;
	transform: scale(1.1);
}

.errorBox {
	margin-top: 2rem;
	text-align: center;
	font-size: 2rem;
}