@charset "UTF-8";
@import url("base.css");

body {
            position: relative;
            padding-top: 60px; /* Ajuster l'espace pour éviter de cacher le lien */
            min-height: 100vh;
            margin: 0;
            padding: 20px;
        }

        h2 {
            text-align: center;
            margin-top: 0;
        }

        .login {
            position: absolute;
            top: 20px;
            right: 20px;
        }

        .filters {
            margin-top: 20px;
            font-weight: bold;
        }

        .filters label {
            display: block;
        }

        .search-bar {
            margin-top: 10px;
             border-radius: 10px; /* Arrondir les bords */
            overflow: hidden; /* Masquer le dépassement du contenu */
        }

        .search-bar input {
            width: 100%; /* Ajuster la largeur */
            height: 50px; /* Ajuster la hauteur */
            font-size: 18px; /* Ajuster la taille de la police */
            padding: 5px 10px; /* Ajouter un espacement intérieur */
            border: none; /* Supprimer la bordure */
            background-color: #f0f0f0; /* Ajouter une couleur de fond */
           
        }

        .search-button-container {
            display: flex;
            justify-content: center; /* Centrer horizontalement */
            margin-top: 20px;
        }

        .search-button {
            font-size: 20px; /* Ajuster la taille de la police */
            padding: 10px 20px; /* Ajouter un espacement intérieur */
        }

        .encadrer-container {
            display: flex;
            justify-content: space-between; /* Aligner les encadrés à l'horizontale */
            flex-wrap: wrap; /* Permettre le passage à la ligne des encadrés */
        }

        .encadrer {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 20px;
            width: 48%; /* Ajuster la largeur des encadrés */
            padding: 10px;
            border: 1px solid black;
            border-radius: 10px;
        }

        .encadrer img {
            width: 100px;
            height: 100px;
            margin-bottom: 10px;
            border: 2px solid black;
            border-radius: 10px;
        }

        .encadrer h4 {
            margin: 0;
        }

        .encadrer .prix,
        .encadrer .enchere,
        .encadrer .vendeur {
            margin-top: 5px;
        }