<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ProjetEnchere</display-name>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <!-- Connexion -->
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>IHM.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ConnectJSP</servlet-name>
    <jsp-file>/WEB-INF/JSP/connect.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Connexion</url-pattern>
  </servlet-mapping>
  
  <!-- Creer Compte -->
  <servlet>
    <servlet-name>NewAccount</servlet-name>
    <servlet-class>IHM.NewAccountServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NewAccountJSP</servlet-name>
    <jsp-file>/WEB-INF/JSP/newAccount.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewAccount</servlet-name>
    <url-pattern>/CreerCompte</url-pattern>
  </servlet-mapping>
  
  <!-- Afficher Profil -->
  <servlet>
    <servlet-name>SeeUser</servlet-name>
    <servlet-class>IHM.SeeUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SeeUserJSP</servlet-name>
    <jsp-file>/WEB-INF/JSP/SeeUser.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>SeeUser</servlet-name>
    <url-pattern>/Profil</url-pattern>
  </servlet-mapping>
  
  <!-- Nouvelle vente -->
  <servlet>
  	<servlet-name>NewArticle</servlet-name>
  	<servlet-class>IHM.NewArticleServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NewArticleJSP</servlet-name>
    <jsp-file>/WEB-INF/JSP/newArticle.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewArticle</servlet-name>
    <url-pattern>/Vente</url-pattern>
  </servlet-mapping>
  
  <!-- Enchere -->
  <servlet>
  	<servlet-name>Auction</servlet-name>
  	<servlet-class>IHM.AuctionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AuctionJSP</servlet-name>
    <jsp-file>/WEB-INF/JSP/Auction.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Auction</servlet-name>
    <url-pattern>/Auction</url-pattern>
  </servlet-mapping>
  
</web-app>